*~
Junk*
Old*
Stuff
Unused/


*.aux
*.log
*.nav
*.out
*.pdf
*.ptb
*.snm
*.toc

generic-parallel-scan.tex

web-token
Pictures/beaker-looks-left-cutout.png
ShadowedPictures/beaker-looks-left-cutout.png
ShadowedPictures/beaker-looks-left-cutout.xcf
